body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111;
}
.section-title span {
  color: #fd9222;
}
/* HEADER */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}
.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-soc-list {
  display: flex;
  margin-left: 90px;
  gap: 18px;
}
.header-soc-item {
}
.header-soc-link {
}

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

/* HERO */
.hero {
  background-color: #1e1823;
  margin-bottom: 72px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-wrapper {
  padding: 380px 40px 40px 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  background-color: #fd9222;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;
  margin-right: 14px;
}
.hero-btn-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
  background-color: transparent;
}
.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}

.hero-button {
  display: flex;
  align-items: center;
}

/* FEATURES */
.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  gap: 88px;
}
.features-item {
  width: calc((100% - 176px) / 3);
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 18px;
}
.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}
/* TASTE */
.taste {
  padding-top: 100px;
  padding-bottom: 100px;
}
.taste-title {
  max-width: 411px;
  margin: 0 auto 28px;
}
.title-accent {
  color: #fd9222;
}
.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto 50px;
}
.taste-list {
  display: flex;
  align-items: center;
  gap: 19px;
}
.taste-item-first {
  border-radius: 15px;
  width: 270px;
  height: 270px;
  background-color: #fd9222;
  padding: 28px 32px 82px;
  color: #fff;
  width: ((100% - 3 * 19px) / 4);
}
.taste-item-second {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 270px;
  height: 270px;
  background-color: #fff;
  padding: 28px 32px 82px;
  color: #111;
  width: ((100% - 3 * 19px) / 4);
}
.taste-item-third {
  border-radius: 15px;
  width: 270px;
  height: 270px;
  background-color: #1e1823;
  padding: 28px 32px 82px;
  color: #fff;
  width: ((100% - 3 * 19px) / 4);
}
.taste-item-fourth {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 270px;
  height: 270px;
  background-color: #fff;
  padding: 28px 32px 82px;
  color: #111;
  width: ((100% - 3 * 19px) / 4);
}
.taste-image {
  margin-bottom: 36px;
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* MADE */
.made {
  padding-bottom: 100px;
}
.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}
.made-title span {
  color: #fd9222;
}

.made-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.made-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.made-image {
  border-radius: 15px;
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4), url("path_to_image");
  object-fit: cover;
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}
.made-list {
  list-style: disc;
  padding-left: 20px;
}
.made-item {
}
.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 24px;
}
/* LOVED */
.loved {
}
.loved-title {
}
.loved-list {
}
.loved-item {
}
.loved-image {
}
.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}
.loved-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #111;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-text span {
  color: #fd9222;
}
.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.footer-adress {
  font-style: normal;
}
.footer-adress-list {
}
.footer-adress-item {
}
.footer-adress-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
